@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

body{
   margin: 0;
   padding: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.page-layout{
     height: 95vh;
     width: 100vw;
     display: flex;
     margin: 0;
     background-image: url(images/alghozy-Wlq9VEMLMPU-unsplash.jpg);
}

footer{
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 255, 169);
    
}

footer>a{
    text-decoration: none;
    color: black;
    font-weight: 700;

}

footer>a:hover{
    color: rgb(165, 112, 59);
    cursor: pointer;
}
.navBox{
    height: 100%;
    width: 20vw;
    background-color: rgb(233, 232, 255);
    margin: none;
}


span{
    width: 30px;
    height: 30px;
}


.profile{
    height: 40vh;
    width: 100%;
    align-items: center;

}

.profile li{
   height: 2.5rem; 
   width: 100%;
   text-align: center;
   list-style: none;

}