body{
    background-color: rgb(253, 255, 127);
}

.page-layout{
     height: 95vh;
     width: 100vw;
}

footer{
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
     list-style: none;

   
}
 a{
        list-style: none;
    }
.navBox{
    height: 100%;
    width: 20vw;
    background-color: bisque;
}