@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

body{
    background-color: rgb(253, 255, 127);
}

.page-layout{
     height: 95vh;
     width: 100vw;
     display: flex;
}

footer{
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
      
}

.navBox{
    height: 100%;
    width: 20vw;
    background-color: bisque;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
